<div class="content-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div data-bs-interval="1000" class="carousel-item active">
              <img
                src="/img/km.png"
                class="container-img d-block w-100"
                alt="..."
              />
            </div>
            <div data-bs-interval="1000" class="carousel-item">
              <img
                src="/img/qc-1.png"
                class="container-img d-block w-100"
                alt="..."
              />
            </div>
            <div data-bs-interval="1000" class="carousel-item">
              <img
                src="/img/qc-2.png"
                class="container-img d-block w-100"
                alt="..."
              />
            </div>
            <div data-bs-interval="1000" class="carousel-item">
              <img
                src="/img/qc-3.png"
                class="container-img d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span
              class="hover-bg carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class=""></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span
              class="hover-bg carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="content-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="content-title">
          <div data-aos="fade-up" class="content-border">

          </div>
          <h3 data-aos="fade-up" class="title text-center">DANH MỤC SẢN PHẨM</h3>
          <div data-aos="fade-up" class="content-border">

          </div>
          <div class="content-circle1"></div>
          <div class="content-circle2"></div>
        </div>
      </div>
    </div>
    <div class="d-none row justify-content-md-center mt-4 px-5">
      <div class="col-2">
        <div data-aos="fade-up" class="content-item">
          <img
            src="/img/logo1.jpg"
            class="container-img d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <div class="col-2">
        <div data-aos="fade-up" class="content-item">
          <img
            src="/img/logo2.jpg"
            class="container-img d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <div class="col-2">
        <div data-aos="fade-up" class="content-item"><img
            src="/img/logo3.jpg"
            class="container-img d-block w-100"
            alt="..."
          /></div>
      </div>
      <div class="col-2">
        <div data-aos="fade-up" class="content-item">
          <img
            src="/img/logo4.png"
            class="container-img d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <div class="col-2">
        <div data-aos="fade-up" class="content-item">
          <img
            src="/img/logo5.jpg"
            class="container-img d-block w-100"
            alt="..."
          />
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-12 col-sm-10">
        <div
          data-aos="fade-up"
          data-aos-duration="1000"
          class="content-watch rounded"
        >
          <a href="/product">
            <img class="w-100 h-100" src="/img/web1.jpg" alt="" />
            <button type="button" class="content-btn btn">Xem thêm</button></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-6 col-sm-5">
        <div
          data-aos="fade-right"
          data-aos-duration="1000"
          class="content-see rounded"
        >
          <img
            src="/img/qc-4.png"
            class="container-img d-block w-100"
            alt="..."
          />
          <button type="button" class="content-btn btn">Xem thêm</button>
        </div>
      </div>
      <div class="col-6 col-sm-5">
        <div
          data-aos="fade-left"
          data-aos-duration="1000"
          class="content-see rounded"
        >
          <img
            src="/img/qc-9.jpg"
            class="container-img d-block w-100"
            alt="..."
          />
          <button type="button" class="content-btn btn">Xem thêm</button>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5">
      <div data-aos="fade-up" data-aos-duration="1000" class="content-title">
        <div data-aos="fade-up" data-aos-duration="1000" class="content-border">
        </div>
        <h3
          data-aos="fade-down"
          data-aos-duration="2000"
          style="color:red"
          class="title text-center"
        >KHUYẾN MÃI HẤP DẪN</h3>
        <div data-aos="fade-up" data-aos-duration="1000" class="content-border">

        </div>
        <div class="content-circle1"></div>
        <div class="content-circle2"></div>
      </div>
    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-12 col-sm-3">
        <div data-aos="fade-right" class="content-promotion rounded">
          <img src="/img/shoe3.jpg" alt="" class="promotion-img" />
        </div>
      </div>
      <div class="col-6 col-sm-3 mt-2">
        <div data-aos="zoom-in" class="content-promotion rounded">
          <img src="/img/shoe4.jpg" alt="" class="promotion-img" />
        </div>
      </div>
      <div class="col-6 col-sm-3 mt-2">
        <div data-aos="fade-left" class="content-promotion rounded">
          <img src="/img/shoe5.jpg" alt="" class="promotion-img" />
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center mt-5">
      <div class="col-12 col-sm-9">
        <div data-aos="zoom-out" class="content-promotion rounded">
          <img src="/img/qc-8.jpg" alt="" class="promotion-img" />
        </div>
      </div>
    </div>
  </div>
</div>