<nav
  class="shadow-sm rounded none navbar navbar-expand-lg navbar-light bg-light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="/img/2.png" alt="" class="navbar-logo" />
    </a>
    {{! navbar responsive }}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobile-navbar"
      aria-controls="mobile-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="mobile-navbar" class="d-none navbar-mobile">
      <div class="navbar-mobile-content">
        <i class="fa-solid fa-xmark"></i>
        <div class="navbar-mobile-user">
          <img src="" alt="" class="navbar-mobile-user-img" />
          <span class="navbar-mobile-user-name"></span>
        </div>
        <ul class="navbar-mobile-list">
          <li class="navbar-mobile-list-item">Đơn hàng </li>
          <li class="navbar-mobile-list-item">Giỏ hàng</li>
          <li class="navbar-mobile-list-item">Đăng Xuất</li>
        </ul>
      </div>
    </div>
    {{! ========== }}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-md-center">

        <li class="nav-item">
          <a class="d-2 nav-link" aria-current="page" href="/product">
            Tất cả Sản phẩm</a>
        </li>

        <li class="nav-item">
          <a class="d-2 nav-link" aria-current="page" href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="d-2 nav-link" aria-current="page" href="/register">Đăng Ký</a>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-3"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />

        <button class="btn btn-outline-success" type="submit">OK</button>
      </form>
      <div class="header_select">
        <div class="header_cart">
          <a href="/cart">
            <i class="header-icon fa-solid fa-cart-shopping"></i></a>
          {{! <span class="header-quantity">0</span> }}
        </div>
        <div class="header_user">
          <div class="dropdown">
            <button
              class="d-flex btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="d-flex flex-column user-flex">
                <i class="header-icon fa-solid fa-user"></i>
                <span
                  class="text-black me-2 header-user-name"
                >{{user.username}}</span>
              </div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
              <li><a class="dropdown-item" href="#">Khiếu Nại</a></li>
              <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</nav>